<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="utf-8">
      <title>MyRx</title>
      <script src="../static/test.js"></script>
      <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="../static/style.css">
  </head>

  <body>

    <div id="boxTop"></div>
    <h1 id = "introHeader">Welcome Patient</h1>
    <h1 id = "notifListHeader">Notifications</h1>
    <div id="" style="overflow-y:scroll; overflow-x:hidden; height:200px;">
      <ul id="notifications" style = "font-size: 60px; list-style-type: none;">
        <li class = "notifElement">
            <img src = "../static/Notify.png" class="icon" > </img>
            <div>
              No notifications at this time.
            </div>
        </li>
      </ul>
    </div>


    <div class = "deleteSameLine">
      <h1 id = "notifListHeader">List of Meds</h1>
      <button class = "button-8" id="remove_all"> Delete All </button>
    </div>

    <div id="" style="overflow-y:scroll; overflow-x:hidden; height:200px;">
      <ul id="medications" style = "font-size: 60px; list-style-type: none;">
        <li class = "notifElement">
            <img src = "../static/Minus.png" class="icon" > </img>
            <div>
              No medications added at this time.
            </div>
        </li>
      </ul>
    </div>

    <div class = "uploadElement"> 
 
      <form method=post enctype=multipart/form-data onsubmit="process_image">
        <img src = "../static/Upload.png"> </img>
        <input type=file name=file id="upload-file">
        <input type=submit value=Upload>
      </form>

      <main style = "padding-left: 5%; top: 90%; bottom: 0px">
          <section id="query_section">
              <input type="text" id="search_bar" value="cymbalta" required minlength="0"
              maxlength="25" size="10">
              <button id="add_button">Add To List</button>
          </section>
      </main>
    </div>

    <a href="#" onclick="window.print();return false;"> <img id = "boxBottom" src = "../static/PrintButton.png"> </img>  </a>


  </body>
</html>