<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='../static/style.css'>
</head>
<body>
<script src="../static/index.js"></script>
<div id="myDIV" class="header">
  <h2 style="margin:5px">My Rx</h2>
  <input type="text" id="myInput" placeholder="Drug brand, ingredient,">
  <span onclick="newElement()" class="addBtn">Add</span>
  <form enctype = "multipart/form-data" action = "python_script.py" method = "post">
    <div style="display: inline-block;">
      Upload File: <input type = "file" name = "filename" />
      <input type = "submit" value = "Upload" /> 
    </div>
    </form>
</div>

<ul id="myUL">
  <div id="interactions">
  </div>
</ul>
<hr class="rounded">
<ul id="myUL">
  <li>notifs</li>
</ul>
</body>
</html>
