<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="utf-8">
      <title>MyRx</title>
      <script src="../static/test.js"></script>
      <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="../static/style.css">
  </head>

  <body>

    <div id="boxTop"></div>
    <h1 id = "introHeader">Welcome Patient</h1>
    <h1 id = "notifListHeader">Notifications</h1>
    <div id="" style="overflow-y:scroll; overflow-x:hidden; height:50%;">
      <ul id="notifications" style = "font-size: 60px; list-style-type: none;">
        <li class = "notifElement">
            <img src = "../static/warning.png" class="icon" > </img>
            <div>
              No notifications at this time.
            </div>
        </li>
      </ul>
    </div>
    <div class = "deleteSameLine">
      <h1 id = "notifListHeader">List of Meds</h1>
      <button style = "padding-left: 5%; padding-top: 8%" id="remove_all"> Remove all </button>
    </div>
    <div id="" style="overflow-y:scroll; overflow-x:hidden; height:50%;">
      <ul id="medications" style = "font-size: 60px; list-style-type: none;">
        <li class = "notifElement">
            <img src = "../static/delete.png" class="icon" > </img>
            <div>
              No medications added at this time.
            </div>
        </li>
      </ul>
    </div>
    <h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data onsubmit="process_image">
      <input type=file name=file id="upload-file">
      <input type=submit value=Upload>
    </form>

    <a href="#" onclick="window.print();return false;">Print page</a>
    <main>
        <section id="query_section">
            <input type="text" id="search_bar" value="{{drug}}" required minlength="0"
            maxlength="25" size="10">
            <button id="add_button">Add To List</button>
        </section>

    </main>

    </div>
    <div id = "boxBottom"> </div>
  </body>
</html>